.container {
    padding: 10rem;

    .filter {
        width: 100%;
        margin: 1rem 0;
        border: 1px solid black;
        padding: 10px;

        .collapse {
          display: flex;
          justify-content: space-between;
        }

        input {
          width: 100%;
        }

        .row-1, .row-2 {
          display: flex;
          gap: 20px;
          margin: 10px 0;
        }

        .search {
          display: flex;
          gap: 10px;
          width: 100%;
          justify-content: end;
        }
    }

    table {
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        font-size: 1.5rem;
      }
      
      tr th {
        background-color: #dddddd;
      }
}