<div class="container">

    <a>+ Adicionar</a>

    <div class="filter">
        <div class="collapse">
            <p>FILTROS</p>
            <span>+</span>
        </div>

        <form [formGroup]="form" (ngSubmit)="onSubmitFiltros()">
            <div class="row-1">
                <div>
                    <label for="nome">Nome</label>
                    <input type="text" placeholder="Digite o nome" formControlName="nome">
                </div>
                <div>
                    <label for="telefone">Telefone</label>
                    <input type="text" placeholder="Digite o telefone" formControlName="telefone">
                </div>
            </div>

            <div class="row-2">
                <div>
                    <label for="email">Email</label>
                    <input type="text" placeholder="Digite o email" formControlName="email">
                </div>
                <div>
                    <label for="ddd">Ddd</label>
                    <input type="text" placeholder="Digite o ddd" formControlName="ddd">
                </div>
            </div>

            <div class="search">
                <button type="button" (click)="limparFiltros()" class="btn-secondary">Limpar</button>
                <button type="submit">Pesquisar</button>
            </div>
        </form>
    </div>

    <table>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Telefone</th>
            <th>Ddd</th>
            <th></th>
        </tr>
        @for (contato of contatos$ | async; track $index) {
        <tr>
            <td>{{ contato.nome }}</td>
            <td>{{ contato.email }}</td>
            <td>{{ contato.telefone }}</td>
            <td>{{ contato.ddd }}</td>
            <td><a>Editar</a> <a>Excluir</a></td>
        </tr>
        }
    </table>

</div>