.container {
    padding: 10rem;

    .filter {
        display: flex;
        justify-content: right;
        width: 100%;
        gap: 5px;
        margin-bottom: 1rem;
    }

    table {
        border-collapse: collapse;
        width: 100%;
      }
      
      td, th {
        border: 1px solid #dddddd;
        text-align: left;
        padding: 8px;
        font-size: 1.5rem;
      }
      
      tr th {
        background-color: #dddddd;
      }
}